<?xml version='1.0' encoding='utf-8'?>
<plugin
   xmlns="http://apache.org/cordova/ns/plugins/1.0"
   xmlns:android="http://schemas.android.com/apk/res/android"
   id="com.develcode.plugins.volumeControl"
   version="1.0">

<name>Android Volume Control Plugin</name>

<description>
   Allows setting and retrieving the media volume of the device.
</description>

<js-module src="www/VolumeControl.js" name="VolumeControl">
   <clobbers target="VolumeControl" />
</js-module>

<!-- android -->
<platform name="android">
   <config-file target="res/xml/config.xml" parent="/*">
      <feature name="VolumeControl">
         <param name="android-package" value="com.develcode.plugins.volumeControl.VolumeControl" />
      </feature>
   </config-file>

   <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
   </config-file>

   <source-file src="src/android/VolumeControl.java" target-dir="src/com/develcode/plugins/volumeControl" />
</platform>
</plugin>
